@charset "utf-8";
/* CSS Document */

body{
	background-image:url(sanatorio.jpg);
	text-align: center;
	border:rgba(19,19,19,1.00) solid 5px;
	margin:15px auto;
	width:600px;
}
figcaption{
	background-color: rgba(73,73,73,1.00);
	
	color:rgba(205,205,205,1.00);
}
img{
	width: 600px;
	height: 450px;
}
a{
	color: rgba(236,236,236,1.00);
}
